body {
	background-color: #fff;
	margin:0;
}

.content {
	margin: 10px 200px;
	padding: 5px 30px;
	background-color: #e5e5e5;
	box-shadow: 0px 10px 10px 0px grey;
}

/* Headers */
h1 {
	color: white;
	font: 72px Verdana, sans-serif;
	text-align: center;
	text-shadow: 1px 1px 0px grey;
}

h2 {
	text-transform: uppercase;
	font: 50px Verdana, sans-serif;
	color: white;
	text-align: center;
}

h3 {
	text-transform: uppercase;
	font: 42px Verdana, sans-serif;
	color: white;	
}

.style-block-header {
	font: 20px Verdana, sans-serif;
	text-align: left;
	color: #959595;
	border-bottom: solid 1px #959595;
	text-transform: none;
}

h3.style-block-header {
	font: 16px Verdana, sans-serif;
	border-bottom: 1px dotted;
	margin: 40px 650px 10px 10px;
}

.color-box1, .color-box2, .color-box3,
.color-box4, .color-box5, .color-box6 {
	width: 100px;
	height: 100px;
	background-color: green;
	margin-bottom: 7px;
	display: inline-block;
	border: 1px solid grey;
}

.color-box1 {
	background-color: #3aa6db;
}

.color-box2 {
	background-color: #F63D97;
}

.color-box3 {
	background-color: #a0a0a0;
}

.color-box4 {
	background-color: #e5e5e5;
}

.color-box5 {
	background-color: #3195c9;
}

.color-box6 {
	background-color: #3d3d3d;
}


figure {
	background-color: white;
	padding: 10px;
	width: 100px;
	color: grey;
	text-align: center;
	float: left;
	margin: 10px 10px;
	border-radius: 8px;
}

.background-colours {
	overflow: hidden;
}



/* Main Navigtaton Menu */
.main-nav {
	list-style: none;
}

/* Clearfix */
.main-nav:after {
	content: "";
	display: block;
	clear: both;
}

.main-nav li{
	display: inline;
	float: left;
}

.main-nav li:not(:last-child):after {
	content: "|";
	color: #a0a0a0; 
}

.main-nav li a {
	font-family: Tahoma, Geneva, sans-serif; 
	text-decoration: none;
	color: #a0a0a0; 
	padding: 6px 10px 6px 10px
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #a0a0a0; 
}

.main-nav li a:hover, 
.main-nav li a:active {
	color: #2f95c8; 
}

ul.language-dropdown {
	list-style: none;
	display: inline;
}

li.language-dropdown-li {
	display: inline;
	float: left;
}

li.language-dropdown-li > a {
	text-decoration: none;
}

/*.search-box {
	width: 200px;
	border: none;
}

.search-box input[type="submit"] {
	content: "";
	background: url("img/searchBtn.png") no-repeat scroll center center;
	float: right;
	width: 30px;
	height: 20px;
	border: none;
}

.search-text {
	background:url("img/divider.png") no-repeat scroll center right;
	overflow: hidden;
	width: 180px;
	height: 3em;
}

.search-box input[type="text"] {
	border-radius: 10px;
	width: 100%;
	display: block;
	vertical-align: middle;
}*/

 /*.search-box span:after {
	content: "";
	background: url("img/searchBtn.png") no-repeat scroll right center;
	display: block;
	float: right;
	margin-left: 5px;
	width: 20px;
	height: 20px;
}*/
img[src="logo.png"] {
	margin: 40px 0px;
}

.search-box {
	width: 260px; 
	min-height: 20px;
	border: none;
}

input[type="search"] {
	outline: none;
	width: 220px;
	height: 2em;
	vertical-align: middle;
	border-radius: 10px;
	border: 1px solid grey;
}

input[type="submit"] {
	background: url(img/searchBtn.png) no-repeat 50% 50%;
	border: none;
	float: right;
	height: 20px;
	width: 20px;
}

.divider {
	background: url(img/divider.png) no-repeat 50% 50%;
	float: right;
	height: 20px;
	width: 20px;
	border: none;
}






/*.box > a[href=""]:before {
	background-image: url(img/ico/more.png);	
}*/


/* Buttons */
.btn-blue {
	background: #2f95c8;
	border-radius: 5px;
	border: 1px solid grey;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	display: block;
	height: 3em;
	margin-bottom: 5px;
}

.btn-blue a {
	color: white;
	font-size: 1.6em;
	text-decoration: none;
}

.btn-blue a:after {
	content: "";
	background: url("img/btnArrow.png") no-repeat scroll right center;
	margin-left: 5px;
	display: block;
	float: right;
	width: 20px;
	height: 20px;
}

.main-btn a:after {
	margin-left: 30px;
}


.main-btn {
	text-transform: uppercase;
}


.color-text-box {
	width: 260px;
	height: 130px;
	padding: 5px 15px;
	border-radius: 8px;
	color: white;
	opacity: 0.7;
	box-shadow: 0px 3px 3px 0px grey;
	margin-bottom: 10px;
}

.text-box-heading {
	font-size: 24px;
	text-transform: none;
}

.orange {
	background-color: #F46F16;
}

.pink {
	background-color: #F63D97;
}

.green {
	background-color: #6AC33C;
}


p.text-box-link:before {
	content: "";
	background: url("img/colorBoxsIcon01.png") no-repeat scroll left center;
	display: block;
	float: left;
	width: 30px;
	height: 20px;
	padding-right: 5px;
}

/* Products and Services Block*/
ul.products-services {
	list-style: none;
	display: inline-block

}

.products-services li {
	background-color: #3195c9;
	display: block;
	float: left;
	padding: 10px;
	margin: 5px;
	border-radius: 8px;
}

.products-services li a {
	text-decoration: none;
	color: white;
	font-weight: 300;
	text-align: center;
}


/* ---- Footer ---- */

/* Footer Links Panel */
.footer-links {
	background-color: #2B2B2B;
	padding: 10px;
}

.footer-heading {
	font-size: 18px;
}

.key-solutions, .company-links {
	list-style: none;
	padding-left: 0;
	font-weight: 100;
}

.key-solutions a, .company-links a {
	text-decoration: none;
	color: white;
}

/* Social Icons Panel */

.social-icons {
	background-color: #3D3D3D;
	padding: 10px;
	border-radius: 8px;
	width: 200px;
}

