@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
	background-color: #fff;
	margin:0;
}

.content {
	background-color: #fff;
	margin: 0 auto;
	padding:0;
	font-family: sans-serif;
}

/* Headers */
h1 {
	color: white;
	font: 72px Verdana, sans-serif;
	text-align: center;
	text-shadow: 1px 1px 0px grey;
}

h2 {
	color: white;
	font: 50px Verdana, sans-serif;
	text-align: center;
	text-transform: uppercase;
}

h3 {
	color: white;	
	font: 42px Verdana, sans-serif;
	text-transform: uppercase;
}

h4 {
	color: white;
	font: 36px Verdana, sans-serif;
	text-transform: uppercase;
	margin: 10px 5px;
}

/* =============================================================================================================
													HEADER
   ============================================================================================================= */

header {
	box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.7);
}

.nav-panel {
	background-color: #fff;
	padding: 0; 
	height: 90px;
	width: 960px;
	margin: 0 auto;
}

.nav-panel:after {
	content: " ";
	display: block;
	clear: both;
}

/* Logo Image */
#brand {
	border: none;
	float: left;
	margin-top:15px;
}

#brand img[src="logo.png"] {
	margin: 40px 0px;
}

/* Main Navigtaton Menu */
.main-nav {
	list-style: none;
	float: left;
	font: 12px "Open Sans";
	padding-top: 50px;
	text-transform: uppercase;
	font-weight: 200;
}

.main-nav li{
	float: left;
}

.main-nav li:not(:last-child):after {
	content: "|";
	color: #a0a0a0; 
}

.main-nav li a {
	font-family: sans-serif; 
	text-decoration: none;
	color: #a0a0a0; 
	padding: 6px 10px 6px 10px
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #a0a0a0; 
}

.main-nav li a:hover, 
.main-nav li a:active {
	color: #2f95c8; 
}

.lang-login-search {
	float: right;
	margin: 16px 0 0 0;
}

.lang-login {
	margin-bottom: 22px; 
}

#languageContainer {
	border: none;
	background: none;
	outline: none;
	font-size: 14px;
}

ul.language-dropdown {
	list-style: none;
	display: inline;
}

li.language-dropdown-li {
	float: left;
}

li.language-dropdown-li > a {
	text-decoration: none;
}

.lang-divider {
/*	background: url("img/divider.png") no-repeat 50% 50%;
	height: 20px;
	width: 20px;*/
	color: grey;
}

.login-link {
	color: grey;
	text-decoration: none;
}


/* Search Box */
.search-box {
	width: 240px; 
	min-height: 20px;
	border: none;
	position: relative;
}

input[type="search"] {
	outline: none;
	width: 180px;
	height: 2em;
	border-radius: 5px;
	border: 1px solid #d2d2d2;
}

.search-box input[type="submit"] {
	background: url("img/searchBtn.png") no-repeat 50% 50%;
	border: none;
	height: 20px;
	width: 20px;
	position: absolute;
	left:156px;
}

.search-box .divider {
	background: url("img/divider.png") no-repeat 50% 50%;
	height: 20px;
	width: 20px;
	border: none;
	position: absolute;
	left:142px;
}



/* =============================================================================================================
													BODY
   ============================================================================================================= */

/* Slides Carousel */
.carousel-block {

}

.carousel {
	width: 960px;
	margin: 0 auto;
	float: left;
	left: 100px;
	top:200px;
	max-width: 960px;
	padding-left: 200px;
}

.carousel:after {
	clear: both;
	display: block;
	content: " ";
}

.bg-image-wrapper {
	
}

.carousel-bg-image {
	height: 700px;
	position: center;
	background: url(img/bckgrnd_ferriswheel_2500x639.jpg) no-repeat center;
	margin: 0;
	margin-top: -30px;
	padding: 0;
}

ol.carousel-nav, ol.carousel-slides {
	padding: 0;
	margin-top: 20px;
	list-style: none;
	/*float: left;*/
}

.carousel-nav li {
	width: 12px;
	height: 12px;
	background-color: #E5E5E5;
	color: #e5e5e5;
	float: left;
	margin-left: 5px;
	padding: 0;
	border-radius: 3px;
}

.carousel-nav li:hover {
	background-color: #3399CC;
}

.carousel-nav li a {
	width: 12px;
	height: 12px;
	display: inline-block;
}



/* Buttons */
.btn-blue {
	background: #2f95c8;
	border-radius: 5px;
	border: 1px solid grey;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
	display: block;
	height: 3em;
	margin-bottom: 5px;
}

.btn-blue a {
	color: white;
	font-size: 1.6em;
	text-decoration: none;
}

.btn-blue a:after {
	content: "";
	background: url("img/btnArrow.png") no-repeat scroll right center;
	margin-left: 5px;
	float: right;
	width: 20px;
	height: 20px;
}

.main-btn a:after {
	margin-left: 30px;
}


.main-btn {
	text-transform: uppercase;
}


.color-text-box {
	width: 260px;
	height: 130px;
	padding: 5px 15px;
	border-radius: 8px;
	color: white;
	opacity: 0.7;
	box-shadow: 0px 3px 3px 0px grey;
	margin-bottom: 10px;
}

.color-text-box:hover {
	opacity: 1;
}

.text-box-link > a {
	text-decoration: none;
	color: white;
}

.color-text-box:hover a {
	text-decoration: underline;
}

.text-box-heading {
	font-size: 24px;
	text-transform: none;
}

.orange-bg {
	background-color: #F46F16;
}

.pink-bg {
	background-color: #F63D97;
}

.green-bg {
	background-color: #6AC33C;
}


p.text-box-link:before {
	/* content: url("img/colorBoxsIcon01.png"); */
	content: " ";
	background: url("img/colorBoxsIcon01.png") no-repeat scroll left center;
	float: left;
	width: 30px;
	height: 20px;
	padding-right: 5px;
}

/* Event Box */
.event-box-content {
	width: 280px;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 5px;
	border-radius: 3px;
	box-shadow: 0px 3px 3px 0px grey;
}

.event-box-content:hover {
	background-color: rgba(255, 255, 255, 1);
}

.date-box {
	background-color: #3399CC;
	width: 60px;
	height: 80px;
	padding: 2px;
	box-shadow: 0px 1px 10px 0px grey;
	float: left;	
	margin: 8px 10px 0px 5px;
}

.date {
	color: white;
	font-size: 48px;
	margin: 0px;
	text-align: center;
	border-bottom: 1px dashed white;
}

.month {
	color: white;
	font-size: 23px;
	margin: 0px;
	text-align: center;
	padding-top: 1px;
}

.all-events-link {
	margin-top: 10px;
	font-size: 18px;
}

.all-events-link > a {
	color: white;
	clear: both;
	text-decoration: none;
}

.all-events-link > a:before {
	background: url("img/eventListIcon01.png") no-repeat 50% 50%;
	content: "";
	border: none;
	float: left;
	height: 20px;
	width: 20px;
	margin-right: 5px;
}


/* Services Block*/

ul.services {
	list-style: none;
	display: inline-block

}

.services p:before {
	background: url("img/hp_solution_icon_SMART_MONETIZATION.png") no-repeat 50% 50%;
	content: " ";
	display: block;
	height:50px;
	width: 115px;
	margin-bottom: 10px;
}

.services p:hover:before {
	background: url("img/hp_solution_icon_SMART_MONETIZATION_hover.png") no-repeat 50% 50%;
	content: " ";
	display: block;
	height:50px;
	width: 115px;
	margin-bottom: 10px;
}

.services li {
	background-color: #3195c9;
	border-radius: 8px;
	float: left;
	margin: 5px;
	padding: 10px;
}

.services li a {
	text-decoration: none;
	color: white;
	font-weight: 300;
	text-align: center;
}

/* Story Boxes */
.story-box {
	background: white;
	color: grey; 
	width: 340px;
	height: 170px;
	padding: 10px;
}

.person-face {
	float:left;
}

/* Adding Quote Image to Text - doesn't work

.story-box blockquote:before {
	content: " ";
	background: url("img/quote-grey.png") no-repeat 50% 50%;
	width: 20px;
	height: 20px;
}*/

.story-box blockquote {
	font-size: 19px;
	margin: 0 0 15px 110px;
}

.story-box blockquote:after {
	content:" ";
	clear:both;
	display:block;
}

.person-details {
	border-top: 1px solid #a0a0a0;
}

.person-name {
	font-size: 16px;
	color: #3195c9; 
	margin: 5px 0;
	float: left;
}

.person-role {
	font-size: 14px;
	color: grey; 
	margin: 0;
	float: left;
	text-transform: none;
}

.client-logo {
	background: url("img/3mob_logo_bw.jpg") no-repeat;
	height: 45px;
	width: 80px;
	float: right;
	outline:none;
	max-width: 100%;
	margin: 5px 0 0 0;
}

.person-details:after {
	content:" ";
	clear:both;
	display:block;
}


/* Success Stories */
.success-stories {
	background-color: grey;
}

.story-box:hover img,
.story-box:active img{
	/*color: green;*/
	display: none;
}

.back-to-top {
	margin: 0 auto;
	margin-bottom: -4px;
	width: 960px;
	max-width: 980px;
}

/* =============================================================================================================
													FOOTER
   ============================================================================================================= */

/* Footer Links Panel */

footer {
	background-color: #2B2B2B;
	padding: 0; 
	height: 320px;
	width: 100%;
	margin: 0;
}

.footer-links {
	height: auto;
	margin: 0;
}

.footer-block {
	max-width: 960px;
	min-width: 800px;
	width: 960px;
	margin: 0 auto;
}

.footer-links-column {
	float: left;
	margin-right: 32px;
}

.footer-heading {
	font-size: 16px;
}

.key-solutions, .products-services, .company-links {
	list-style: none;
	padding-left: 0;
	font-weight: 100;
}

.key-solutions a, .products-services a, .company-links a {
	text-decoration: none;
	color: white;
	font-size: 14px;
}


/* Footer Side Box */
.footer-box {
	float: right;
	background-color: #3d3d3d;
	width: 240px;
	position: relative;
	padding: 0 12px;
	height: 320px;
}

.footer-box h4 {
	color: #3195c9;
	font-size: 18px;
} 

.footer-box-content {
	color: white;
}

.press-release {
	border-bottom: 1px solid grey;
}

.press-release h4 {
	padding: 16px 0;
	margin: 0 6px;
}

.date-box-footer {
	width: 60px;
	height: 70px;
	padding: 2px;
	float: left;	
	margin: 0 10px 0 5px;
}

.footer-date {
	font-size: 54px;
	margin: 0;
	text-align: center;
	line-height: 56px;
}

.footer-month {
	font-size: 26px;
	margin: 0px;
	text-align: center;
}

.latest-blog-post-text {
	margin: 0 8px;
	padding: 6px 5px;
	font-size: 17px;
}

.latest-blog-post-text p {
	margin: 0 0 18px 0;
}

/* Subscribtion */
.subscribe {
	position: relative;
}

#email {
	width: 200px;
	line-height: 2.5em;
	border-radius: 3px;
	border: none;
	margin: 0 5px;
	padding-left: 8px;
	color: grey;
	outline:none;
}

#subscribe-submit {
	background: #3aa6db;
	border-radius: 3px;
	border: none;
	color: white;
	line-height: 2.3em;
	margin-left:-45px;
	padding: 2px 10px;
	position: absolute;
	top: 52px;
}


/* Social Icons Panel */
.social-icons {
	padding: 10px;
	width: 230px;
}



/* Footer Navigation */

.footer-nav:before {
	clear: both;
	content:" ";
	display:block;
}

.footer-nav {
	margin-right: 0px;
	font-size: 14px;
	width: 676px;
	height: 20px;
	float: left;
	margin-top:58px;
}

.footer-nav:after {
	clear: both;
	content:" ";
	display:block;
}

ul.footer-menu {
	margin: 0px;
	padding: 0px;
}

.footer-menu > li {
	list-style: none;
	margin: 0px;
	display: inline-block;
	color: grey;
}

.footer-menu > li > a {
	color: grey;
	text-decoration: none;
}
