/*.button:after {
	 background-image: url(img/arrow.jpg);
}*/

.heading {
	text-transform: uppercase;
}

h2 {

}

h3 {
	text-transform: uppercase;
}

.box > a[href=""]:before {
	background-image: url(img/ico/more.png);	
}

.btn-blue {
	display: block;
	background: #2f95c8;
/*	background: -moz-linear-gradient(top, #2f95c8 0%, #2c96ca 24%, #1188c4 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f95c8), color-stop(24%,#2c96ca), color-stop(100%,#1188c4)); background: -webkit-linear-gradient(top, #2f95c8 0%,#2c96ca 24%,#1188c4 100%); background: -o-linear-gradient(top, #2f95c8 0%,#2c96ca 24%,#1188c4 100%); 
	background: -ms-linear-gradient(top, #2f95c8 0%,#2c96ca 24%,#1188c4 100%);
	background-image: linear-gradient(rgb(47, 149, 200) 0%, rgb(44, 150, 202) 24%, rgb(17, 136, 196) 100%);*/
	background-image: url(img/btnArrow.png);
}

